<h1>Choose a Class</h1>

<form action="/bookings" method="post">
  <label>
    Choose a Class:
    <select name="gymclass_id">
    <% for selected in @available_classes %>
    <option value="<%= selected.id %>"><%= selected.name %>, <%= selected.class_date %>, <%= selected.class_time %></option>
    <% end %>
    </select>
  </label>

  <input type="hidden" name="member_id" value="<%= @member.id %>">


  <input type="submit" value="Select Member">
</form>
