<h1>Update Class</h1>

<form action="/gymclasses/<%= @gymclass.id %>" method="post">

  <input type="hidden" value="<%= @gymclass.id %>">

  <label for="name">Class Name:</label>
  <input type="text" name="name" value="<%= @gymclass.name %>">

  <label for="class_date">Class Date:</label>
  <input type="text" name="class_date" value="<%= @gymclass.class_date %>">

  <label for="class_time">Class Time:</label>
  <input type="FLOAT" name="class_time" value="<%= @gymclass.class_time %>">

  <label for="capacity">Capacity:</label>
  <input type="INTEGER" name="capacity" value="<%= @gymclass.capacity %>">

  <label for="peak_time">Peak Time:</label>
  <select name="peak_time">
    <option selected value="true" value="<%= @gymclass.peak_time %>">True</option>
    <option selected value="false" value="<%= @gymclass.peak_time %>">False</option>
  </select>

  <input class="button" type="submit" Value="Update Class">

</form>
