<p>Name: <%= @gymclass.name %></p>
<p>Class Date: <%= @gymclass.class_date %></p>
<p>Class Time: <%= @gymclass.class_time %></p>
<p>Class Capacity: <%= @gymclass.capacity %></p>
<p>Peak Time: <%= @gymclass.peak_time %></p>

<form action="/gymclasses/<%= @gymclass.id %>/delete" method="post">
  <label for="">Delete Class</label>
  <input class="button" type="submit" value="Yes">
</form>

<p><a class="button" href="/gymclasses/<%= @gymclass.id%>/edit">Update Class</a></p>

<p><a class="button" href="/gymclasses/<%= @gymclass.id %>/view">View Bookings</a></p>
